<!--inicio Banner-->
  <div class="demo-card-wide mdl-card">
    <div class="mdl-card__title banner">
      <span class="logoBanner">
        <img src="images/longtagVectoIIr.png" alt="logotipo">
      </span>
      <h1 class="mdl-card__title-text">Here is Were our first call will be</h1></br>
      <h2 class="mdl-card__title-text">Sub Call for a short text</h2>
    </div>
  </div>
<!--fim Banner-->

<!--inicio o que fazemos-->
  <div class="android-screen-section mdl-typography--text-center mdl-card-bgBX" id="oquefazemos" ng-controller="oquefazemosCtrl">
      <div class="demo-card-square mdl-card">
        <div class="mdl-card__title wtwdo">
          <h1 class="mdl-card__title-text titleSec">O que fazemos</h1>
          <p class="conteudo">{{conteudo}}</p>
          <div class="tech">
            <div class="itemtech">
              <h1>Mobile</h1>
              <div class="circle techCircle">
                <img src="images/mobile.png" alt="mobile">
              </div>
              <div class="circleLeft tc sider">
                <i class="devicons devicons-ionic ionic"></i>
              </div>
              <div class="bar-1l"></div>
              <div class="bar-1r"></div>
              <div class="circleRight tc">
                <i class="devicons devicons-android android"></i>
              </div>
              <span class="sideSpan">On the flip side, Sass won’t solve all of your problems or cure your bad habits. I nefficient,On the flip side, Sass won’t solve all of your problems or cure your bad habits. I nefficient,</span>
            </div>
            <div class="itemtech">
              <h1>Web</h1>
              <div class="circle techCircle">
                <img src="images/web.png" alt="web">
              </div>
              <div class="circleLeft tc tch">
                <i class="devicons devicons-html5 html"></i>
              </div>
              <div class="bar-1cl"></div>
              <div class="bar-1c"></div>
              <div class="circleCenter tc tcj">
                <i class="devicons devicons-javascript javascript"></i>
              </div>
              <div class="bar-1cr"></div>
              <div class="circleRightc tc css">
                <i class="devicons devicons-css3"></i>
              </div>
              <span class="centerSpan">On the flip side, Sass won’t solve all of your problems or cure your bad habits. I nefficient,On the flip side, Sass won’t solve all of your problems or cure your bad habits. I nefficient,</span>
            </div>
            <div class="itemtech">
              <h1>Desktop</h1>
              <div class="circle techCircle">
                <img src="images/desktop.png" alt="desktop">
              </div>
              <div class="circleLeft tc">
                <i class="devicons devicons-java java"></i>
              </div>
              <div class="bar-1l"></div>
              <div class="bar-1r"></div>
              <div class="circleRight tc">
                <i class="devicons devicons-visualstudio vs"></i>
              </div>
              <span class="sideSpan">On the flip side, Sass won’t solve all of your problems or cure your bad habits. I nefficientOn the flip side, Sass won’t solve all of your problems or cure your bad habits. I nefficient,</span>
            </div>
          </div>
        </div>
      </div>
  </div>
<!--fim o que fazemos-->

<!--inicio Como fazemos-->
  <div class="android-wear-section bx-stp" id="comofazemos">
      <div class="demo-card-wide mdl-card">
        <div class="mdl-card__title hwd ">
          <h1 class="mdl-card__title-text">Como Fazemos</h1></br>
          <p class="conteudo">On the flip side, Sass won’t solve all of your problems or cure your bad habits. I nefficient, bloated stylesheets can be just as nefficient and bloated when using Sass.  Good organization and smart thinking still apply here. In fact, there are instances where Sass can magnify bad practices, and we’ll go into that a bit as well. But when used properly and intelligently, Sass canbe such a massive assist in creating websites.</p>
          <div class="steps passos">
            <div class="step cirlStep">
              <div class="circle circle-step stp1"></div>
              <span class="conteudo">On the flip side, Sass won’t solve all of your problems or cure your bad habits. I nefficient,</span>
            </div>
            <div class="step cirlStep">
              <div class="circle circle-step stp2"></div>
              <span class="conteudo">On the flip side, Sass won’t solve all of your problems or cure your bad habits. I nefficient,</span>
            </div>
            <div class="step cirlStep">
              <div class="circle circle-step stp3"></div>
              <span class="conteudo">On the flip side, Sass won’t solve all of your problems or cure your bad habits. I nefficient,</span>
            </div>
            <div class="step cirlStep">
              <div class="circle circle-step stp4"></div>
              <span class="conteudo">On the flip side, Sass won’t solve all of your problems or cure your bad habits. I nefficient,</span>
            </div>
            <div class="step cirlStep">
              <div class="circle circle-step stp5"></div>
              <span class="conteudo">On the flip side, Sass won’t solve all of your problems or cure your bad habits. I nefficient,</span>
            </div>
          </div>
        </div>
      </div>
  </div>
<!--fim Como fazemos-->

<!--inicio porque nós-->    
  <div class="android-customized-section" id="porquenos" ng-controller="porquenosCtrl">
    <div class="android-customized-section-text porqueNS">
      <h1 class="mdl-card__title-text">Porque Nós</h1></br>
        <p  class="whyp">
          On the flip side, Sass won’t solve all of your problems or cure your bad habits. I nefficient, bloated stylesheets can be just as nefficient and bloated when using Sass. Good organization and smart thinking still apply here. In fact, there are instances where Sass can magnify bad practices, and we’ll go into that a bit as well. But when used properly and intelligently, Sass canbe such a massive assist in creating websites.
        </p>
        <ul class="prop">
          <li>
          <i class="fa fa-code"></i><br>
            <span>linhas de código</span>
            <p>{{counterCode}}</p>
          </li>
          <li>
            <i class="fa fa-group"></i><br>
              <span>anos de esperiência como equipa</span>
            <p>{{counterYear}}</p>
          </li>
          <li>
            <i class="fa fa-check"></i><br>
            <span>Trabalhos Feitos</span></br>
            <p>{{counterWork}}</p>
          </li>
        </ul>
        <h2 class="mdl-card__title-text">Planos</h2></br>
        <p  class="whyp plansP">
          On the flip side, Sass won’t solve all of your problems or cure your bad habits. I nefficient, bloated stylesheets can be just as nefficient and bloated when using Sass. Good organization and smart thinking still apply here. In fact, there are instances where Sass can magnify bad practices, and we’ll go into that a bit as well. But when used properly and intelligently, Sass canbe such a massive assist in creating websites.
        </p>
        <table>
          <thead>
            <th>Plataformas</th>
            <th>Inplementação</th>
            <th>Sistemas operacionais</th>
            <th>Manutenção</th>
            <th>Contrato</th>
          </thead>
          <tbody>
            <tr>
              <td>Android</td>
              <td><i class="fa fa-check"></i></td>
              <td>Android</td>
              <td><i class="fa fa-check"></i></td>
              <td><i class="fa fa-check"></i></td>
            </tr>
            <tr>
              <td>IOS</td>
              <td><i class="fa fa-check"></i></td>
              <td>IOS</td>
              <td><i class="fa fa-check"></i></td>
              <td><i class="fa fa-check"></i></td>
            </tr>
            <tr>
              <td>Windows phone</td>
              <td><i class="fa fa-check"></i></td>
              <td>Windows phone</td>
              <td><i class="fa fa-check"></i></td>
              <td><i class="fa fa-check"></i></td>
            </tr>
            <tr>
              <td>Desktop</td>
              <td><i class="fa fa-check"></i></td>
              <td>Microsoft windows, Linux</td>
              <td><i class="fa fa-check"></i></td>
              <td><i class="fa fa-check"></i></td>
            </tr>
            <tr>
              <td>web</td>
              <td><i class="fa fa-check"></i></td>
              <td>Browser</td>
              <td><i class="fa fa-check"></i></td>
              <td><i class="fa fa-check"></i></td>
            </tr>
          </tbody>
        </table>
    </div>
  </div>
<!--fim porque nós-->

<!--inicio team-->    
  <div class="android-customized-section" id="equipa" ng-controller="teamCtrl">
    <div class="android-customized-section-text team">
      <h1 class="mdl-card__title-text">Nossa Equipa</h1></br>
      <div class="group">
        <div class="step bxteam" ng-repeat="menbers in teamMenber">
          <div class="circle circle-step teamCircle">
            <img src="{{menbers.img}}">
          </div>
          <h1>{{menbers.nome}}</h1>
          <h2>{{menbers.funcao}}</h2>
          <div class="social">
              <a href="{{menbers.fb}}"><i class="fa fa-facebook-official"></i></a>
              <a href="{{menbers.twt}}"><i class="fa fa-twitter" aria-hidden="true"></i></i></a>
              <a href="{{menbers.git}}"><i class="fa fa-github-alt" aria-hidden="true"></i></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
<!--fim team-->

<!--inicio contacto-->
  <div class="android-more-section frmBx" id="contacto">
    <div class="android-section-title mdl-typography--display-1-color-contrast frmHead">Contactos</div>
    <div class="android-card-container bx-frm" id="mc_embed_signup">
      <form action="//site.us14.list-manage.com/subscribe/post?u=290447065f1e5782e11ab41d3&amp;id=addc264856" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <div class="mui-textfield mui-textfield--float-label name">
          <input type="text" value="" name="FNAME" class="" id="mce-FNAME" required>
          <label>Primeiro Nome</label>
        </div>
        <div class="mui-textfield mui-textfield--float-label name">
          <input type="text" name="LNAME" class="" id="mce-LNAME" required>
          <label>Último Nome</label>
        </div>              
        <div class="mui-textfield mui-textfield--float-label">
          <input type="email" name="EMAIL" class="required email" id="mce-EMAIL" required>
          <label>Email</label>
        </div>              
        <button type="submit" class="mui-btn mui-btn--raised btnSend" name="subscribe" id="mc-embedded-subscribe">Subscrever</button>
      </form>
    </div>
  <div class="more-inf">
      <span>On the flip side, Sass won’t solve all of your problems or cure your bad habits. I nefficient, bloated stylesheets can be just as nefficient and bloated when using Sass. Good organization and smart.<br>
      </span>
      <span>
        <i class="fa fa-check"></i>this <i class="fa fa-check"></i>other <i class="fa fa-check"></i>think <i class="fa fa-check"></i>we <i class="fa fa-check"></i>should <i class="fa fa-check"></i>wory about
      </span>
  </div>
</div>
<!--fim contacto-->

<!--inico footer-->
<footer class="android-footer mdl-mega-footer" style="z-index: 99999;">
  <div class="mdl-mega-footer--bottom-section">
    <a class="android-link ft-link mdl-typography--font-light linkFooter" href="">
      <i class="fa fa-map-marker"></i> Rangel CTT nº</a>
    <a class="android-link ft-link mdl-typography--font-light linkFooter" href="">
      <i class="fa fa-phone"></i> (+244) 999 999 999 / 999 999 999</a>
    <p class="mdl-typography--font-light">Satellite imagery: © 2014 Astrium, DigitalGlobe</p>
    <span class="bckTop">
      <i class="fa fa-chevron-up"></i><a class="mdl-typography--font-light" href="#/"> Back to Top </a>
      <div class="social">
        <a href="#"><i class="fa fa-facebook-official"></i></a>
        <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></i></a>
        <a href="#"><i class="fa fa-github-alt" aria-hidden="true"></i></i></a>
      </div>
    </span>
  </div>
</footer>
<!--fim footer-->
